
<!--O conteúdo do modal-->
<!--Header-->
<div class="modal-header">
    <h3 class="modal-title">Exemplo de Modal - AngularUi</h3>
</div>

<!--body-->
<div class="modal-body">
    <label class="text-center">Exemplo de modal</label>
    <input type="text" ng-model="txtInput" placeholder="Insira um valor" class="form-control"/>
</div>

<!--Footer-->
<div class="modal-footer">
    <button class="btn btn-primary btn-block" type="button" ng-click="ok(txtInput)">Ok</button>
    <button class="btn btn-danger btn-block" type="button" ng-click="cancelar()">Cancelar</button>
</div>
